.searchbox{
    text-align: center;
    box-shadow: aqua;
}
.title{
    margin:15px;
    margin-left:40px;
    width:790px;
}
#heart {
    color:#eee;
    height: 25px;
    font-size: xx-large;
    text-shadow: 0 0 3px #000;

}
#grid{
    position:absolute;
    width:39%;
    top:33px;
    left:64%;
    height: 300%;
    overflow: hidden;
}
.img{
    height:71px;
    float: left;
    text-align: left;
}
#titleright{
    position: absolute;
    top:0%;
    margin-top: 10px;
}
.comment{
    left: 37%;
    position: absolute;
    top: 117%;
}
.sub{
    position:absolute;
    top: 131%;
    left: 40%;
}
.comment-box{
    position: relative;
    margin-top: 55px;

    
}
#inner{
    position: absolute;
    left: 42px;
    margin-top: -59px;
}

.fa fa-user{
    font-size: xx-large;
}
#hey{
    margin-left: 40px;
}
#outer{

}
#logo{
    font-size: xx-large;
}
.comment1{
    left: 37%;
    position: absolute;
    top: 113%;

}